@charset 'utf-8';
//Abstracts
@import "abstracts/__abstracts-dir";
//Base Styles
@import "base/__base-dir";
//Components
@import "components/__components-dir";
//Layout
@import "layouts/__layouts-dir";


.is-open {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.no-scroll {
    overflow: hidden;
}

.hidden {
    display: none;
}

.new-line {
    display: block;
}

.scroll-btn {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 9;
    bottom: 20px;
    right: 20px;
    background: rgba($black, 0.4);
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    @include flex($justify-content: center, $align-items: center);
    transition: opacity 1s;
    &:hover {
        background: $black;
    }
    .fas {
        color: $white;
    }
    @include md {
        width: 60px;
        height: 60px;
    }
}