.banner {
    margin: 5rem 0;
    text-align: center;
    &__wrapper {
        position: relative;
    }
    &__circle {
        animation: rotate 8s linear infinite;
    }
    &__item {
        position: absolute;
        &--passion {
            animation: up 6s linear infinite alternate;
            bottom: 5%;
            left: 5%;
            width: 60%;
        }
        &--lemon {
            animation: down 6s linear infinite alternate;
            top: 5%;
            right: 5%;
            width: 55%;
        }
        &--passion-can {
            animation: down 5s linear infinite alternate;
            top: 5%;
            left: 10%;
            width: 35%;
        }
        &--lemon-can {
            animation: up 4s linear infinite alternate;
            bottom: 5%;
            right: 10%;
            width: 40%;
        }
    }
    &__desc {
        overflow: hidden;
        height: 60px;
    }
    &__desc-item {
        line-height: 2;
        font-size: 1.5rem;
        text-transform: uppercase;
        list-style: none;
        font-weight: bold;
        position: relative;
        top: 0;
        animation: slide 12s steps(2) infinite;
        span {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                height: 100%;
                width: 100%;
                background: $white;
                animation: typing 6s steps(30) infinite;
            }
        }
    }
}

@include md {
    .banner {
        &__heading {
            font-size: 1.5rem;
        }
        &__desc {
            height: 70px;
        }
        &__desc-item {
            font-size: 2.5rem;
        }
    }
}

@include lg {
    .banner {
        @include flex($justify-content: center, $align-items: center, $flex-direction: column);
        margin: 0;
        &__wrapper {
            width: 50%;
        }
        &__heading {
            font-size: 2rem;
        }
        &__desc {
            height: 100px;
        }
        &__desc-item {
            font-size: 3.5rem;
        }
    }
}

