$white: #fff;
$black: #000;

$silver: rgba(44, 61, 73, 0.03);
$hover-red: #a71a63;
$linear-gradient: 143deg,#a71a63 3.69%,#d65197 38.59%,#f8c0a6 69.31%,#eedc82 98.89%;
$pink: #d65197;
$green: #6cca98;